@import url('https://fonts.googleapis.com/css2?family=Halant:wght@300;400;500;600;700&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Island+Moments&display=swap');

:root {
  --white: #fff;
  --black: #000;
  --navBg: #FFFBFB59;
  --menu: #0F3255;
  --cntBtn: #F15D2B;
  --border: 1px solid black;
  --vector: #FDD0C1;
  --lableBorder: #EAEAEA;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--black);
}

.active {
  color: var(--cntBtn);
}

.App {
  height: 100vh;
  width: 100vw;
  background-image: url('./asserts/BG.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.nav {
  height: 103px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  padding: 15px 20px 0 0;
  overflow: hidden;
  background-color: var(--navBg);
  z-index: 1;
  position: relative;
}

.menu {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.bar {
  height: 6px;
  width: 100%;
  background-color: var(--menu);
  border-radius: 4px;
  transition: all 0.4s ease;
  overflow: hidden;
}

.bar.top.open {
  transform: translateY(10px) rotate(45deg);
}

.bar.bottom.open {
  transform: translateY(-6px) rotate(-45deg);
}

.navItems {
  height: 50px;
  width: 700px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
}

.navItems ul {
  list-style: none;
  position: relative;
  font-family: "Instrument Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  right: -700px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 24px;
  transition: right 0.5s ease-in-out;
  overflow: hidden;
  cursor: pointer;
}

.navItems ul.open {
  right: 0;
}


.cntBtn {
  background-color: var(--cntBtn);
  color: var(--white);
  width: 139px;
  height: 48px;
  font-weight: 400;
  font-size: 18px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 8px;
  border: none;
}

.boundingBox {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
}

.mailIcon {
  width: 18px;
  height: 18px;
  stroke: var(--white);
  stroke-width: 1.5;
  transition: transform 0.3s ease, fill 0.3s ease;
}

.heroContent {
  display: flex;
  gap: 100px;
}

.heroContent .leftContent {
  height: 565px;
  width: 565px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mandalaImg {
  height: 565px;
  width: 565px;
}

.logoImg {
  position: absolute;
  width: 388px;
  height: 150px;
}

.heroContent .rightContent {
  width: 825px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.lable1 {
  font-family: "Island Moments", regular;
  font-weight: 400;
  font-size: 100px;
  width: 825px;
  height: 230px;
  margin: 50px 0;
}

.lable2 {
  font-family: "Halant", serif;
  font-weight: 400;
  font-size: 40px;
  color: var(--cntBtn);
}

.lable3 {
  font-family: "Instrument Sans", sans-serif;
  height: 154px;
  width: 487px;
  font-family: sans-serif;
  font-size: 18px;
  margin: 50px 0;
}

.navLogoContainer {
  height: 63px;
  width: 174px;
  position: absolute;
  top: 5px;
  right: 25px;
  bottom: 10px;
  left: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navLogo {
  width: 124px;
  height: 48px;
}

.aboutCard {
  width: 450px;
  height: 400px;
  opacity: 1;
  position: absolute;
  top: -17px;
  left: 150px;
}

.cardContent {
  position: relative;
  font-family: Halant;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--menu);
  transform: rotate(-20deg);
  z-index: 1;
  top: 120px;
  left: 50px;
  width: 70%;
}


.pin {
  width: 50px;
  height: 65px;
  position: absolute;
  top: 15px;
  right: 60px;
  z-index: 1;
}

.card {
  position: absolute;
  top: 80px;
  right: 20px;
  height: 60%;
  width: 90%;
  transform: rotate(-20deg);
  box-shadow: 0px 12px 40px 0px #00000026;
  z-index: 0;
}

.gateImg {
  width: 350px;
  height: 350px;
  opacity: 1;
  position: absolute;
  top: 400px;
  left: 20px;
}

.group {
  width: 600px;
  height: 300px;
  opacity: 1;
  position: absolute;
  bottom: 150px;
  left: 700px;
}

.grp1,
.grp2,
.grp3 {
  font-family: Island Moments;
  font-weight: 400;
  font-style: Regular;
  position: absolute;
  font-size: 42px;
  line-height: 100%;
  letter-spacing: 0%;
}

.grp1 {
  bottom: 150px;
  left: 500px;
}

.vector1 {
  position: absolute;
  width: 150px;
  height: 226.px;
  bottom: 180px;
  left: 600px;
}

.grp2 {
  top: 130px;
  left: 750px;
}

.vector2 {
  position: absolute;
  top: 180px;
  left: 830px;
}

.grp3 {
  top: 200px;
  right: 50px;
}

.vector3 {
  position: absolute;
  top: 250px;
  right: 150px;
}

.aboutUsHeader {
  font-family: Halant;
  font-weight: 400;
  font-style: Regular;
  font-size: 30px;
  position: absolute;
  top: 200px;
  left: 100px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.aboutUsContent {
  width: 450px;
  top: 250px;
  left: 100px;
  font-family: Instrument Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  position: absolute;
}

.aboutUsCard {
  position: absolute;
  width: 180px;
  height: 180px;
  transform: rotate(15deg);
  bottom: 150px;
  box-shadow: 0px 12px 40px 0px #00000026;
}

.aboutUsCard.c1 {
  left: 80px;
}

.aboutUsCard.c2 {
  left: 250px;
}

.aboutUsCard.c3 {
  left: 420px;
}

.aboutUsCardContent {
  width: 180px;
  height: 180px;
  transform: rotate(15deg);
  bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  gap: 10px;
  transform: rotate(15deg);
}

.aboutUsCardContent.c1 {
  left: 80px;
}

.aboutUsCardContent.c2 {
  left: 250px;
}

.aboutUsCardContent.c3 {
  left: 420px;
}

.cardTop {
  color: var(--menu);
  font-size: 80px;
}

.cardBottom {
  color: var(--cntBtn);
  font-size: 26px;
}

.aboutUsTxt {
  font-family: Island Moments;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  width: 800px;
  height: 368;
  position: absolute;
  top: 151px;
  right: 50px;
}

.brands {
  position: absolute;
  bottom: 10px;
  right: 50px;
  width: 800px;
  height: 400px;
}

.obj {
  position: absolute;
  bottom: 10px;
  right: 180px;
}

.servicesHeader {
  font-family: Halant;
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  width: 100vw;
}

.servicesCards {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 50px;
  padding: 60px 0;
}

.servicesCard {
  width: 300px;
  height: 400px;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  background-color: var(--white);
  font-family: Halant;
  font-weight: 400;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  cursor: pointer;
}

.servicesCard img {
  width: 100%;
  height: 90%;
  object-fit: cover;
  object-position: center;
  display: block;
  margin-bottom: 5px;
}

.servicesCard.c1 {
  transform: rotate(10deg);
}

.servicesCard.c2 {
  margin-top: 30px;
}

.servicesCard.c3 {
  transform: rotate(-10deg);
}

.servicesCard:hover {
  transform: rotate(0deg) scale(1.05);
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.2);
}

.tape.t1 {
  position: absolute;
  left: 220px;
  z-index: 1;
}

.tape.t2 {
  position: absolute;
  left: 650px;
  transform: rotate(10deg);
  top: 230px;
  z-index: 1;
}

.tape.t3 {
  position: absolute;
  right: 220px;
  transform: rotate(30deg);
  z-index: 1;
}

.backBtn {
  width: 105;
  height: 48;
  position: absolute;
  top: 150px;
  left: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 24px;
  border: 1px solid var(--cntBtn);
  color: var(--cntBtn);
  padding: 12px 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.backBtn:hover {
  gap: 10px;
}

.servicesCard.fp {
  width: 105;
  height: 48;
  position: absolute;
  top: 250px;
  left: 210px;
  gap: 8px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  cursor: none;
}

.fpContent {
  font-family: Instrument Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  line-height: 44px;
  letter-spacing: 0%;
  width: 700px;
  height: 440;
  position: absolute;
  top: 250px;
  right: 250px;
}

.fpContent ul li {
  position: relative;
  left: 50px;
}

.cam1 {
  position: absolute;
  top: 150px;
  right: 100px;
}

.cam2 {
  position: absolute;
  bottom: 30px;
  right: 200px;
}

.cam3 {
  position: absolute;
  bottom: 250px;
  right: 450px;
}

.cam4 {
  position: absolute;
  bottom: 50px;
  left: 50px;
}

.br1 {
  position: absolute;
  bottom: 30px;
  right: 150px;
}

.br2 {
  position: absolute;
  bottom: 50px;
  left: 50px;
}

.br3 {
  position: absolute;
  bottom: 250px;
  right: 300px;
}

.br4 {
  position: absolute;
  top: 250px;
  right: 100px;
}

.ac1 {
  position: absolute;
  bottom: 200px;
  right: 400px;
}

.ac2 {
  position: absolute;
  bottom: 50px;
  left: 50px;
}

.ac3 {
  position: absolute;
  top: 150px;
  right: 80px;
}

.ac4 {
  position: absolute;
  bottom: 50px;
  right: 150px;
}

.portHeader {
  font-family: Halant;
  font-weight: 400;
  font-style: Regular;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.portCaption {
  font-family: Instrument Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.portCam {
  position: absolute;
  width: 180px;
  height: 400px;
  top: 300px;
  left: 100px;
}

.vidPlayer {
  height: 400px;
  width: 700px;
  position: absolute;
  top: 30%;
  left: 25%;
  z-index: 0;
}

.thumbnail {
  position: absolute;
  top: 300px;
  left: 482px;
  z-index: 1;
  height: 270px;
  width: 500px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 12px 40px 0px #00000026;
}

.portFooter {
  position: absolute;
  bottom: 0;
  right: 0;
}

.contactFooter {
  position: absolute;
  height: 400px;
  z-index: 0;
}

.contactFooter.top {
  top: 0;
  right: 0;
}

.contactFooter.bottom {
  bottom: 0;
  left: 0;
  transform: rotate(180deg);
}

.contactTxt {
  font-family: Instrument Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  width: 600px;
  height: 145;
  position: absolute;
  top: 250px;
  left: 50px;
}

.contactForm {
  width: 600px;
  height: 679px;
  position: absolute;
  top: 100px;
  right: 250px;
  padding: 20px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formHeader {
  font-family: Halant;
  font-weight: 400;
  font-style: Regular;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.formCaption {
  font-family: Instrument Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
}

.formContent {
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  width: 100%;
}

.formLable {
  width: 400px;
  height: 43px;
  font-family: Instrument Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  border-radius: 2px;
  border-width: 1px;
  padding: 10px 11px;
  border: 1px solid var(--lableBorder);
  outline: none;
}

.formLable.desc {
  width: 400px;
  height: 200px;
}

.formBtn {
  width: 100px;
  height: 50px;
  gap: 8px;
  border-radius: 24px;
  padding: 12px 16px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: var(--cntBtn);
  color: var(--white);
  box-shadow: 0px 4px 12px 0px #00000033;
}

.formBtn:hover {
  scale: 1.05;
}

.formFooter {
  font-family: Halant;
  font-weight: 700;
  font-style: Bold;
  font-size: 17px;
  line-height: 17px;
  letter-spacing: 0%;
  color: var(--cntBtn);
  display: flex;
  gap: 10px;
}

.formFooter hr {
  border-color: var(--cntBtn);
}