@import url('https://fonts.googleapis.com/css2?family=Halant:wght@300;400;500;600;700&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Island+Moments&display=swap');
:root {
  --white: #fff;
  --black: #000;
  --menu: #0F3255; 
  --cntBtn: #F15D2B;
  --border: 1px solid black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  width: 100vw;
} 

.hero {
  height: 100%;
  width: 100%;
  background-image: url('./asserts/BG.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.nav {
  height: 103px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  padding: 15px 20px 0 0;
  overflow: hidden;
}

.menu {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.bar {
  height: 6px;
  width: 100%;
  background-color: var(--menu);
  border-radius: 4px;
  transition: all 0.4s ease;
  overflow: hidden;
}

.bar.top.open {
  transform: translateY(10px) rotate(45deg);
}

.bar.bottom.open {
  transform: translateY(-6px) rotate(-45deg);
}

.navItems {
  height: 50px; 
  width: 624px; 
  display: flex; 
  justify-content: space-evenly; 
  align-items: center; 
  overflow: hidden;
}

.navItems ul {
  list-style: none;
  position: relative;
  font-size: 18px;
  font-weight: 400;
  right: -700px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 24px;
  transition: right 0.5s ease-in-out;
  overflow: hidden;
}

.navItems ul.open {
  right: 0;
}


.cntBtn {
  background-color: var(--cntBtn);
  color: var(--white);
  width: 139px;
  height: 48px;
  font-weight: 400;
  font-size: 18px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 8px;
  border: none;
}

.boundingBox {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
}

.mailIcon {
  width: 18px;
  height: 18px;
  stroke: var(--white);
  stroke-width: 1.5;
  transition: transform 0.3s ease, fill 0.3s ease;
}

.heroContent {
  display: flex;
  gap: 100px;
}

.heroContent .leftContent {
  height: 565px;
  width: 565px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mandalaImg {
  height: 565px;
  width: 565px;
}

.logoImg {
  position: absolute;
  width: 388px;
  height: 150px;
}

.heroContent .rightContent {
  width: 825px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.lable1 {
  font-family: "Island Moments", regular;
  font-weight: 400;
  font-size: 100px;
  width: 825px;
  height: 230px;
  margin: 50px 0;
}

.lable2 {
  font-family: "Halant", serif;
  font-weight: 400;
  font-size: 40px;
  color: var(--cntBtn);
}

.lable3 {
  font-family: "Instrument Sans", sans-serif;
  height: 154px;
  width: 487px;
  font-family: sans-serif;
  font-size: 18px;
  margin: 50px 0;
}